$selection-bg: #0af;
$selection-color: #fff;

.assisted-search {
  display: flex;
  position: relative;

  &:focus {
    outline: none;
  }

  &-dropdown-parent {
    pointer-events: none;
    z-index: 1;
  }

  &-base-dropdown {
    pointer-events: auto;
    background: white;
    box-shadow: 3px 3px 3px -1px #ccc;
    top: 100%;
    left: 0;
    position: absolute;

    // todo: bit of a hack here, check children before rendering in react?
    &:empty {
      display: none;
    }
  }

  &-dropdown {
    width: 100%;
    max-height: 250px;
    overflow: auto;

    &.drop-up {
      bottom: 110%;
      top: auto;
    }

    &-item {
      padding: 4px 4px;
      cursor: pointer;

      &:hover:not(.selected) {
        box-shadow: 0 0 1px $selection-bg;
      }

      &.selected {
        background: $selection-bg;
        color: $selection-color;
      }
    }
  }

  &-pending-facet {
    margin: 2px;
    padding-left: 2px;
    color: #bbb;
    font-weight: bold;
  }

  &-entry {
    display: inline-block;
    padding: 0 5px 0 0;
    margin: 1px;

    &-value {
      border: none;
      outline: none;
      box-shadow: none;
    }

    &-facet {
      font-weight: bold;
      color: #888;
      cursor: pointer;
    }

    &.selected {
      background: #1e90ff;
      border-radius: 4px;
      color: white;
    }

    &.selected &-entry-value {
      color: white;
    }

    &.selected &-facet {
      color: #ddd;
    }

    &.focused &-close > span {
      background: #777;
    }

    &.focused &-facet {
      color: #666;
    }

    &-close {
      padding: 3px 5px 4px 5px;
      cursor: pointer;

      > span {
        padding: 0 3px;
        font-weight: bold;
        color: #fff;
        background: #aaa;
        border-radius: 20px;
        font-size: 90%;
        user-select: none;
        font-family: sans-serif;

        &:hover {
          background: #666;
        }

        &:active {
          background: #333;
        }
      }
    }

    &-operator {
      padding: 0 1px;
    }
  }

  &-input {
    padding: 2px 2px;
    border: none;
    box-shadow: none;
    outline: none;
    flex-grow: 1;
    min-width: 0;

    &-container {
      overflow: hidden;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      > * {
        margin-left: 2px;
      }

      input {
        background: transparent;
      }
    }
  }
}
